<p style="color: green"><%= notice %></p>

<h1>Servicos</h1>

<div id="servicos">
  <% @servicos.each do |servico| %>
    <%= render servico %>
    <p>
      <%= link_to "Mostre o tipo de servico", servico %>
    </p>
  <% end %>
</div>

<%= link_to "Novo servico", new_servico_path %>
