<h1>Editing quarto</h1>

<%= render "form", quarto: @quarto %>

<br>

<div>
  <%= link_to "Mostre este quarto", [:administrativo, @quarto] %> |
  <%= link_to "Volte para os quartos", administrativo_quartos_path %>
</div>
