<div id="<%= dom_id hospede %>">
  <p>
    <strong>Nome:</strong>
    <%= hospede.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= hospede.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= hospede.telefone %>
  </p>

</div>
